{% extends "base.html" %}
{% block content %}

<div class="card card-custom p-4">
    <h3 class="mb-3">Sai</h3>

    <form method="POST">

        <div class="mb-3">
            <label>Service</label>
            <input type="text" name="service" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Severity</label>
            <select name="severity" class="form-select">
                <option>SEV1</option>
                <option>SEV2</option>
                <option>SEV3</option>
            </select>
        </div>

        <div class="mb-3">
            <label>Status</label>
            <select name="status" class="form-select">
                <option>Open</option>
                <option>Investigating</option>
                <option>Mitigated</option>
                <option>Resolved</option>
            </select>
        </div>

        <div class="mb-3">
            <label>Description</label>
            <textarea name="description" class="form-control"></textarea>
        </div>

        <button class="btn btn-success">Create Incident</button>

    </form>
</div>

{% endblock %}