{% extends "base.html" %}
{% block content %}

<div class="text-center text-white mb-4">
    <h1 class="fw-bold">Incident Dashboard</h1>
    <p>Manage all incidents easily</p>
</div>

<div class="row g-4">

    <div class="col-md-3">
        <div class="card card-custom text-center p-4">
            <h4>Create</h4>
            <a href="{{ url_for('create_page') }}" class="btn btn-success mt-2">Create Incident</a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-custom text-center p-4">
            <h4>View</h4>
            <a href="{{ url_for('search', operation='view') }}" class="btn btn-primary mt-2">View Incident</a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-custom text-center p-4">
            <h4>Update</h4>
            <a href="{{ url_for('search', operation='update') }}" class="btn btn-warning mt-2">Update Incident</a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-custom text-center p-4">
            <h4>Delete</h4>
            <a href="{{ url_for('search', operation='delete') }}" class="btn btn-danger mt-2">Delete Incident</a>
        </div>
    </div>

</div>

{% endblock %}