{% extends "base.html" %}
{% block content %}

<div class="card card-custom p-4">
    <h3>All Incidents</h3>

    <table class="table table-striped mt-3">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Service</th>
                <th>Severity</th>
                <th>Status</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            {% for i in incidents %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.service }}</td>
                <td>{{ i.severity }}</td>
                <td>{{ i.status }}</td>
                <td>{{ i.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}