{% extends "base.html" %}
{% block content %}

<div class="card card-custom p-4">
    <h3>Update Incident {{ incident.id }}</h3>

    <form method="POST">

        <div class="mb-3">
            <label>Field</label>
            <select name="field" class="form-select">
                <option value="status">Status</option>
                <option value="severity">Severity</option>
                <option value="description">Description</option>
            </select>
        </div>

        <div class="mb-3">
            <label>New Value</label>
            <input type="text" name="value" class="form-control" required>
        </div>

        <button class="btn btn-warning">Update</button>
    </form>
</div>

{% endblock %}